$base-color: #00897b;
$base_gradient: 'flat';


@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Light.ttf);
  font-weight: light;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Black.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/Roboto-Italic.ttf);
  font-style: italic, oblique;
}

$font-family: "Roboto";

$list-bg-color: lighten(#cfd8dc,10%);

$selected: darken(white, 4%);

$venue-name-color: $base-color;
$venue-list-item-bg-color: white;
$venue-list-item-bg-color-selected: $selected;


// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

@mixin add-icon($name, $font-family: 'Pictos') {
  $character: icon-character-for-name($name);

  &:before {
      text-align: center;
      font-family: $font-family;

      @if $character {
          content: "#{$character}";
      } @else {
          content: "#{$name}";
      }
  }
}

.venue_detail_header {
  background-color: white;
  border-bottom: 1px solid yellow;
}
.venue-name {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

.intro-view-panel {
  background: url(http://www.lofsdalen.com/core/images/95/aktiviteter_mernarhet.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hidden {
  display: none;
}

.venueList {
  .x-list-item {
    -webkit-transition : height 300ms ease-in;
    //&.active { height: 300px; }
  }
  .venueListItem {
    margin-top: 0px;
    margin-bottom: 4px;
    border-bottom: 1px solid #eee;
  
    .image {
      float: left;
      margin-right: 10px;
      border: 1px solid #eee;
      border-radius: 10px;
      min-width: 80px;
      min-height: 80px;
    }
    .venueName {
      font-size: 110%;
      font-weight: 700;
      font-style: light;
      color: $venue-name-color;
    }
    .venueDescription {
      font-size: 70%;
    }

    .see-more-button {
      float: right;
      display: none;
      @include add-icon('right');
    }

    .categories {
      margin: 3px;

      .category-icon {
        border-radius: 15px;
        //background-color: lighten(#cfd8dc,10%);
        border: 1px solid darken(#cfd8dc, 2%);
        background: -moz-linear-gradient(top, rgba(30,87,153,0.35) 0%, rgba(41,137,216,0.38) 24%, rgba(11,160,224,0.43) 64%, rgba(125,185,232,0.47) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0.35)), color-stop(24%,rgba(41,137,216,0.38)), color-stop(64%,rgba(11,160,224,0.43)), color-stop(100%,rgba(125,185,232,0.47))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(30,87,153,0.35) 0%,rgba(41,137,216,0.38) 24%,rgba(11,160,224,0.43) 64%,rgba(125,185,232,0.47) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(30,87,153,0.35) 0%,rgba(41,137,216,0.38) 24%,rgba(11,160,224,0.43) 64%,rgba(125,185,232,0.47) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(30,87,153,0.35) 0%,rgba(41,137,216,0.38) 24%,rgba(11,160,224,0.43) 64%,rgba(125,185,232,0.47) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(30,87,153,0.35) 0%,rgba(41,137,216,0.38) 24%,rgba(11,160,224,0.43) 64%,rgba(125,185,232,0.47) 100%); /* W3C */
        margin: 1px;
        padding: 2px;
        height: 30px;
        width: 30px;
      }
    }
    
    height: 100px;

    background-color: $venue-list-item-bg-color;

    &.venueListItem-selected {
      background-color: $venue-list-item-bg-color-selected;
    }

    &.venueListItem-pressed {
      background-color: lighten($venue-list-item-bg-color-selected, 5%);
    }
  }
}

.header-logo {
  display: block;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border-bottom: 1px solid lighten(black,70%);

  .header-logo-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    font-weight: bold;
    font-size: 160%;

    color: $base-color;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $base-color;
    
    margin-left: auto;
    margin-right: auto;
  }  
}



// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');
@include sencha-tabbar-ui('winter', white, 'flat', #AE537A);
@include icon('user');
